.jumbotron {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    min-height: 300px;
    overflow: hidden;

}

.col-lg-6.ng-invalid.ng-dirty {
    border: 1px solid red;
}

.col-lg-6.ng-valid.ng-dirty {
    border: 1px solid green
}

.animate-show-hide.ng-hide {
    opacity: 0;
}
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.25s;
}
.animate-show-hide.ng-view {
    opacity: 0;
}
.animate-show-hide.ng-view-add,
.animate-show-hide.ng-view-remove {
    transition: all linear 0.15s;
}
.check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
}
