<!DOCTYPE html>
<html ng-app='app'>
<header>
    <style>
        .jumbotron {
            width: 75%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            min-height: 300px;
            overflow: hidden;
        }
    </style>
    <title>Checar CEP Grátis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" />
    <link rel="stylesheet" href="css/animations.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
</header>

<body onload="document.body.className += ' loaded';" ng-controller='AppController as vm'>
    <div class="jumbotron text-center ng-cloak check-element animate-show-hide">
        <h1 class="display-4">Consultar um CEP</p>
            <h6 class="lead">Use esta ferramenta para consultar as informações de um CEP.</p>
                
                <input  type="text" class="col-lg-6"name="cep" ng-model="cep" >
                <button class=" btn btn-primary" ng-click="vm.checkCep(cep)" type="submit">Checar!</button>
                <table style='margin-top:20px' ng-hide="vm.cepData == null" class="table check-element animate-show-hide">
                    <thead class="thead-dark">
                        <tr>
                            <th>Cep</th>
                            <th>Endereço</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>Complemento</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr>
                            <td colspan='1'>{{vm.cepData.cep}}</td>
                            <td colspan='1'>{{vm.cepData.logradouro}}</td>
                            <td colspan='1'>{{vm.cepData.bairro}}</td>
                            <td colspan='1'>{{vm.cepData.localidade}}</td>
                            <td colspan='1'>{{vm.cepData.complemento}}</td>
                        </tr>
                    </tbody>
                </table>
    </div>
    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">
                <a href="http://danielsm.me/">Daniel Matsumoto</a> © 2019
        </div>
       
    </footer>
    <script src="app/app.module.js"></script>
</body>

</html>